.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #eee;
  padding: 15px;
  border: 2px solid #777;
  max-width: 400px;
  overflow: auto;
}

.sidebar pre {
  white-space: pre-wrap;
}

.relative-text-size {
  font-size: 2em;
}
